# Ignore venvs
p39
p310

# Ignore data files
data/*.csv

# Ignore cached python files
*__pycache__*

# Ignore depreciated test generated data
experiments/flexible_model_builder/depreciated/hello_world_neat/data/